<!DOCTYPE html>

<html>

<head>
    <title>Write your message down:</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
    <form method="POST" action="/add">
        <label for="author">Author</label> <br>
        <input type="text" id="author" name="author" required><br><br>

        <label for="blogtitle">Title of the blog</label> <br>
        <input type="text" id="blogtitle" name="blogtitle" required><br><br>

        <label for="content">what do you want to write about?</label> <br>
        <textarea id="content" name="content" required></textarea> <br><br>

        <input type="submit" value="Publish">
    </form>



</body>



</html>